body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0D0D0D;
}

.maytinh{
    background-color: #1A1A1A;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#manhinh{
    width: 100%;
    height: 50px;
    text-align: right;
    margin-bottom: 10px;
    font-size: 24px;
    background-color: #333333;
    color: #00E5FF;
}

.nutbam{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid;
}
